/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box
	;
}

body {
	background-color: #FFFFFF;
}

.flex {
	display: flex;
	align-items: center;
}

.label {
	width: 260px;
	font-size: 20px;
}

.textField {
	padding: 4px;
	background-color: #FFEBCD;
	border: 1px solid #D2B48C;
	border-radius: 5px;
}*/